body {
  margin: 0;
  font-family: Oswald;
  background-color: black;
  color:blanchedalmond;
  background-image: url('../public/cowbell.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  width: 50%;
}

#metro-container{
  text-align: center;
  width:60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid greenyellow 5px;
  background-color: rgba(100, 100, 100, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
